In [2]:
import pandas as pd
import numpy as np

import fairlearn

#### Actually why do we need both files if the contents are the same?

In [3]:
df1 = pd.read_csv('../data/2020-02-28T01 00 00-05 00.csv')

In [5]:
df2 = pd.read_csv('../data/2020-04-03T01 00 00-05 00.csv')

just use one file since we do not want to duplicate data.

In [13]:
df = df1

In [17]:
df.describe()

,custid,Income,CreditScore,Debt,LoanTerm,InterestRate,CreditIncidents,HomeValue,LoanAmount
count,4.842700e+04,48427.000000,48427.000000,48427.000000,48427.000000,48427.000000,48427.000000,4.842700e+04,4.842700e+04
mean,5.011043e+07,182892.674665,700.479505,36802.268387,359.902121,0.039988,2.578128,5.289217e+05,2.634072e+05
std,2.884022e+07,256729.653035,64.881945,60675.888778,112.512956,0.002915,1.844025,3.765134e+05,2.409933e+05
min,2.684000e+03,10000.000000,620.000000,0.000000,180.000000,0.035000,0.000000,7.290000e+04,8.262000e+03
25%,2.525330e+07,29018.500000,645.000000,12851.560000,180.000000,0.037000,1.000000,2.776800e+05,1.063520e+05
50%,5.003374e+07,48407.000000,667.000000,22052.250000,420.000000,0.040000,2.000000,4.161500e+05,1.933200e+05
75%,7.503263e+07,231794.000000,780.000000,34402.530000,480.000000,0.043000,4.000000,6.460800e+05,3.346500e+05
max,9.999981e+07,949942.000000,799.000000,924099.820000,480.000000,0.045000,6.000000,3.000003e+06,2.700003e+06